[Desktop Entry]
Name=Fan Control
Comment=Control CPU fan speed
Exec=/usr/bin/python3 /home/Thors/hp-omen-fan-control/fancontrol.py
Icon=/home/Thors/.local/share/icons/fancontrol.svg
Terminal=false
Type=Application
Categories=System;
