[Desktop Entry]
Name=Fan Control
Comment=Control CPU fan speed
Exec=bash -c 'sudo /usr/local/bin/nbfc start 2>/dev/null; sudo python3 /home/Thors/fancontrol.py'
Icon=/home/Thors/.local/share/icons/fancontrol.svg
Terminal=false
Type=Application
Categories=System;
